.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  gap: 0.5rem;
}

img.product-image {
  transition: all 0.15s;
  object-fit: contain;
  margin: auto;
}

img.product-image:hover {
  transform: scale(1.2);
}

.product-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-details {
  z-index: 1;
}

.card-actions {
  justify-content: flex-end;
}

@media screen and (min-width: 900px) {
  .card {
    display: flex;
    flex-direction: row;
  }

  .card .product-image {
    width: 200px;
    object-fit: contain;
    margin-left: 1rem;
  }

  .product-description {
    white-space: normal;
  }
}
