.product-details-page-wrapper {
  display: flex;
  flex-direction: column;
}

.product-details {
  display: flex;
  flex-direction: column;
}

.product-header {
  display: flex;
  flex-direction: column;
}

.image-wrapper {
  display: flex;
  justify-content: center;
}

.product-image {
  width: 50%;
}

.product-details-img {
  width: 50%;
  justify-content: center;
}

@media screen and (min-width: 900px) {
  .product-details-page-wrapper {
    flex-direction: row;
  }

  .product-header {
    width: 50%;
  }
}
