.cart-product-tiles-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
}

.button-container {
  margin: 0rem auto;
  top: 56px;
  z-index: 10;
  background-color: #fff;
  padding: 1rem 0rem;
  position: sticky;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 2px 3px 0px rgb(0 0 0 / 12%);
}

.buttons {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;
}

.buttons a button {
  font-size: 0.75rem;
}

.button-container a {
  text-decoration: none;
  color: white;
}

.cart-content-container {
  padding: 0 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.subtotal {
  text-align: right;
  margin: 0;
  padding: 0 2rem;
  max-width: 1000px;
  margin: 1rem auto 0 auto;
}

@media screen and (min-width: 600px) {
  .button-container {
    top: 64px;
  }
}
