h2,
h3 {
  text-align: center;
}

h2 {
  font-weight: bold;
}

#products-page {
  margin-top: 1rem;
}

.product-tiles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
  padding: 0 2rem;
}

body {
  background-color: #ded9e2;
}
