h2,
h3 {
  text-align: center;
}

.products-page-header {
  font-weight: bold;
  padding: 1rem 0;
}

#products-page {
  min-height: calc(100vh - 120px);
}

.product-tiles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
  padding: 0 2rem 2rem 0;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 2rem;
}

body {
  background-color: #ded9e2;
}
